/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  position: absolute;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal-content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



#modal-content input {
  margin: 10px;
}


#modal-content2 {
  /* padding: 10px 40px; */
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal-content2 form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

#modal-content2 input {
  margin: 10px;
}

#modal-content2 textarea {
  width: 300px;
  height: 300px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
