

.background-image {
  width: 100%;
}

.explore-container {
  /* border: 3px solid red; */
  padding: 30px;
  display: flex;
  justify-content: space-around;
}



.explore-button {
  height: 35px;
  width: 280px;
  background-color: rgb(255, 108, 132);
  text-decoration: none;
  color: white;
  padding: 12px;
  margin-right: 30px;
  border-radius: 10px;
  border: 1px solid rgb(255, 108, 132);
}

.explore-button:hover {
  background-color: white;
  color: rgb(255, 108, 132);
  box-shadow: 1px 1px 0.2em rgb(98, 205, 255);
}


.explore-item1 {
  background-image: url("../../../public/images/explore1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px;
  text-decoration: none;
  font-size: 36px;
  font-family: Helvetica;
  width: 350px;
  height: 350px;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px;
  border-radius: 30px;
  min-width: 300px;
}

.explore-item2 {
  background-image: url("../../../public/images/explore2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px;
  text-decoration: none;
  font-size: 36px;
  font-family: Helvetica;
  width: 350px;
  height: 350px;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px;
  border-radius: 30px;
}

.homepage-container {
  position: relative;
  text-align: center;
  z-index: -1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;

  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.lower {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;

  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.explore-item-text {
  top: 15%;
  left: 50%;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
