.sign-up-form {
  /* background-color: rgb(255, 164, 164); */
  border: 2px rgb(255, 149, 149) solid;
  padding: 30px;
  width: 400px;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.form-container {
  margin-top: 50px;
}

.sub-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-up-form input {
  width: 220px;
  height: 20px;
}

.sign-up-form label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}


.sign-up-form:hover {
  box-shadow: 0 0 10px 0.1em rgb(149, 225, 255);
}

label {
  padding: 10px;
}

.sign-up-button {
  margin-top: 10px;
  width: 100px;
  height: 35  px;
  font-size: 16px ;
}
