#modal-content {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 420px;
  height: 400px;
  border: 2px solid rgb(230, 97, 97);
  box-shadow: 0 0 10px 0.1em rgb(149, 225, 255);
}

.login-form-modal {
  background-color: black;
}

.log-in input {
  width: 230px;
  height: 25px;
}

.log-in label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.log-in button {
  background-color: rgb(60, 151, 255);
  color: white;
  width: 200px;
  height: 30px;
  border-radius: 20px;
}


.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.log-in button {
  align-items: center;
  width: 80px;
  margin-top: 15px;
}

h2 {
  margin: 0 0 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 37, 92);
}

.errors-list {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.close-modal {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  cursor: pointer;
  width: 20px;
}

.close-modal-container {
  display: flex;
  justify-content: flex-end;
}
